<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Convert URL</title>
</head>
<body>
    <header>
        <h1>Convert your long url to something shorter.</h1>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <input class="form-control" id="longUrl" type="text" name="longUrl" placeholder="url">
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary">Convert</button>
            </div>
            <div class="col-sm-4">
                <p id="smallUrl"></p>
            </div>

        </div>
    </div>

<script>
$(() => {
    $('button').on('click', () => {
        var data = {};
        data.longurl = $('#longUrl').val();
        $.ajax({
            type: 'post',
            url: 'http://localhost:5000/api/url/shorten',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: (response) =>{
                var smallUrl = response.shortUrl.toString();
                $('#smallUrl').text(smallUrl);
            },
            error: (jqXHR, textStatus, errorThrown) => {
                console.log(textStatus, errorThrown);
                
            }
        });
    });
});
</script>
</body>
</html>

